body {
    margin: 0;
    padding: 0;
}
.menu {
    margin: 0 auto;
    text-align: center;
    height: 600px;
    width: 600px;
    background-image: url("../assets/img/background.jpeg");
    background-size: cover;
}

 
h1, h2 {
    color: wheat;
    padding-top: 20px;
    padding-bottom: 40px;
    text-transform: uppercase;
}
  
.img-music {
    width: 50px;
    height: 50px;
    padding: 20px;
    float: right;
    border-radius: 30px;
}

input {
    width: 200px;
    height: 10px;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-box {
    height: 300px;  
}
  
.content-box {
    text-align: center;
    width: 200px;
}

button {
    width: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: wheat;
    font-size: 1em; 
    text-transform: uppercase;
} 

p {
    color: wheat;
    font-size: 1.20em; 
    align-items: center;
}

li {
    color: wheat;
    font-size: 1.30em; 
}

a {
    color: wheat;
    font-size: 1.30em; 
}

.grid-container {
    display: grid;
    grid-template-rows: 100px 300px;
}

.img-fly {
    width: 50px;
    padding: 50px;
}

.img-frog {
    width: 70px;
    padding: 70px;
}

.results {
    background-color: black;
}