body {
    margin: 0;
    padding: 0;
    display: block;
    overflow: auto;
}
.menu {
    margin: 0 ;
    text-align: center;
    background-image: url("../assets/img/background_water.png");
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

 
h1, h2 {
    color: wheat;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
  
.img-music {
    width: 50px;
    height: 50px;
    padding: 20px;
    float: right;
    border-radius: 30px;
}

input {
    width: 200px;
    height: 10px;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-box {
    height: 300px;  
}
  
.content-box {
    text-align: center;
    width: 200px;
}

button {
    width: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: wheat;
    font-size: 1em; 
    text-transform: uppercase;
} 

p {
    color: wheat;
    font-size: 1.20em; 
    align-items: center;
}

li {
    color: wheat;
    font-size: 1.30em; 
}

a {
    color: wheat;
    font-size: 1.30em; 
}
.img-fly {
    width: 40px;
    height: 40px;
    padding: 20px;
}

.fly-question-box {
    width: 70px;
    height: auto;
    background-color:green;
    text-decoration: honeydew;
    font-size: 15px;
    text-align: center;
    margin: 0;
}

.location-col-1 {
    grid-column-start: 1;
}


.img-frog {
    width: 62px;
    height: 50px;
    padding: 20px; 
    vertical-align: auto;
}

.results {
    background-color: black;
    
}

.btn-goback {
    width: 50px;
    height: 50px;
    padding: 20px;
    float: left;
    border-radius: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .game {
    display: grid;
    grid-template-columns: repeat( 20 , 2fr);
    grid-template-rows: repeat(5, 90px);
  }

 